<nav class="navbar navbar-expand-sm bg-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <button class="btn btn-primary" (click)="loadMovies()"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
  </ul>
</nav>
<div class="jumbotron text-center">
  <h1>Movies</h1>
  <p>Movies from Cinema World and Film World</p>
</div>
<div class="container">
  <app-pixel-spinner *ngIf="!isModelReady" [animationDuration]="2000" [color]="'#555'"></app-pixel-spinner>

  <div *ngIf="isModelReady" class="row">
    <div *ngFor="let movie of movies" class="col-md-4 col-sm-6 col-12">
      <movie [movie]="movie"></movie>
    </div>
  </div>
</div>