<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Movies.BL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Movies.BL.Properties.Settings>
            <setting name="MoviesAPIPath" serializeAs="String">
                <value>https://webjetapitest.azurewebsites.net/api</value>
            </setting>
            <setting name="APIToken" serializeAs="String">
                <value>sjd1HfkjU83ksdsm3802k</value>
            </setting>
        </Movies.BL.Properties.Settings>
    </applicationSettings>
</configuration>